@model IEnumerable<WebBanQuanAo.Models.User>

<h2>Danh sách tài khoản</h2>

<table class="table">
    <thead>
        <tr>
            <th>Tên người dùng</th>
            <th>Email</th>
            <th>Vai trò</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.FullName</td>
                <td>@user.Email</td>
                <td>@user.Role</td>
                <td>
                    <a asp-action="Delete" asp-route-id="@user.UserId" class="btn btn-outline-danger btn-sm">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>

